anthropic==0.69.0
Authlib==1.6.6
ftfy==6.3.1
fuzzysearch==0.8.0
google-cloud-vision==3.10.2
googlemaps==4.10.0
httpx==0.28.1
nest-asyncio==1.6.0
openai==1.107.1
openai-agents==0.2.11
pandas==2.3.2
pillow==11.3.0
pydantic==2.11.7
PyMuPDF==1.26.4
pypdf==6.1.0
pypdfium2==4.30.0
pytesseract==0.3.13
RapidFuzz==3.14.1
requests==2.32.5
streamlit==1.52.2
streamlit-aggrid==1.2.1
streamlit-image-zoom==0.0.4
tomli==2.2.1